<div class="row">
{{#each products}}
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="{{image}}" style="object-fit: cover;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{price}}</p>
                <a href="#" class="btn btn-primary">Add cart</a>
            </div>
        </div>
    </div>
{{/each}}
</div>